<h1>Home画面だよ</h1>


<p>ここに↓ リンク張るね</p>

<%= link_to 'タイムライン', 'https://backlog.com/ja/git-tutorial/reference/branch.html#sec2' %>
<%= link_to 'マイページ', 'https://backlog.com/ja/git-tutorial/reference/branch.html#sec2' %>
<%= link_to 'ブック-グループ', 'https://backlog.com/ja/git-tutorial/reference/branch.html#sec2' %>